{# Place theme favicons in /themes/base/images/favicons #}
<link rel="apple-touch-icon" sizes="76x76" href="/themes/base/images/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/themes/base/images/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/themes/base/images/favicons/favicon-16x16.png">
<link rel="manifest" href="/themes/base/images/favicons/site.webmanifest">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">