{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
  <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 240.94 54.75"><defs><clipPath id="clip-path"><path class="cls-1" d="M14.85.75v49.74"/></clipPath><clipPath id="clip-path-2"><path class="cls-2" d="M0 35.69h239.58"/></clipPath><style>.cls-1{fill:#1d1d1b}.cls-2{fill:#be1622}.cls-15{fill:none}</style></defs><g id="Laag_2" data-name="Laag 2"><g id="Layer_1" data-name="Layer 1"><path class="cls-1" d="M36.31 30.88V.76h.6l18.34 23.09V.76H58v30.12h-.62L39.16 8.07v22.81zM61.15 8.6h15L64.58 28.35h11.16v2.53H60.06l11.53-19.76H61.15zM94.84 23.05l2.21 1.26a13.16 13.16 0 01-2.51 3.78 10 10 0 01-3.21 2.18 10.45 10.45 0 01-4 .74 9.36 9.36 0 01-7.79-3.57 12.71 12.71 0 01-2.82-8.08 12.68 12.68 0 012.38-7.56 9.47 9.47 0 018.08-4.22 9.75 9.75 0 018.33 4.33 12.87 12.87 0 012.25 7.61H79.39a9.58 9.58 0 002.27 6.37 7 7 0 005.42 2.48 8.24 8.24 0 005.53-2.16 13.24 13.24 0 002.23-3.16zm0-6a10 10 0 00-1.53-3.67 7.39 7.39 0 00-2.65-2.21 7.56 7.56 0 00-3.47-.84A7.11 7.11 0 0082 12.44a9.78 9.78 0 00-2.38 4.61zM100.8 0h2.62v30.88h-2.62zM117.09 7.58a9.76 9.76 0 017.81 3.73 12.26 12.26 0 012.81 8 12.21 12.21 0 01-3 8.16 10.14 10.14 0 01-15.31 0 12.21 12.21 0 01-3-8.16 12.18 12.18 0 012.81-8 9.71 9.71 0 017.88-3.73zm0 2.81a7.28 7.28 0 00-5.63 2.61 9.31 9.31 0 00-2.35 6.39 9.71 9.71 0 001.08 4.51 8 8 0 002.89 3.22 7.61 7.61 0 008 0 8 8 0 002.92-3.19 9.7 9.7 0 001.07-4.51A9.26 9.26 0 00122.7 13a7.31 7.31 0 00-5.62-2.61zM146.42.76h2.76v12.63h14V.76H166v30.12h-2.8V16.34h-14v14.54h-2.76zM179 7.58a9.76 9.76 0 017.81 3.73 12.26 12.26 0 012.81 8 12.21 12.21 0 01-3 8.16 10.14 10.14 0 01-15.31 0 12.22 12.22 0 01-3-8.16 12.19 12.19 0 012.82-8A9.71 9.71 0 01179 7.58zm0 2.81a7.28 7.28 0 00-5.6 2.61 9.31 9.31 0 00-2.35 6.39 9.71 9.71 0 001.08 4.51 7.94 7.94 0 002.87 3.25 7.61 7.61 0 008 0 8 8 0 002.89-3.22 9.83 9.83 0 001.11-4.51 9.22 9.22 0 00-2.37-6.42 7.28 7.28 0 00-5.63-2.61zM203.33 10.59l-1.69 1.91a5.87 5.87 0 00-4.11-2.23 3.12 3.12 0 00-3.1 3.07 3.38 3.38 0 00.75 2.07 10.56 10.56 0 003.15 2.35 11.93 11.93 0 014 3.2 6.18 6.18 0 011 3.5 6.58 6.58 0 01-1.77 4.65 5.75 5.75 0 01-4.41 1.9 7.12 7.12 0 01-3.36-.84 7.5 7.5 0 01-2.66-2.31l1.65-2.05q2 2.48 4.26 2.48a3.67 3.67 0 002.69-1.11 3.56 3.56 0 001.1-2.6 3.5 3.5 0 00-.73-2.19 11.88 11.88 0 00-3.3-2.38 10.67 10.67 0 01-3.76-3.07 6.18 6.18 0 01-1-3.46 5.94 5.94 0 011.58-4.22 5.28 5.28 0 014-1.68c1.91 0 3.81 1.01 5.71 3.01zM210.26.33h2.61V8.6H217v2.48h-4.16v19.8h-2.61v-19.8h-3.58V8.6h3.58zM236.7 23.05l2.21 1.26a13.16 13.16 0 01-2.51 3.78 10 10 0 01-3.21 2.18 10.45 10.45 0 01-4 .74 9.39 9.39 0 01-7.8-3.57 12.75 12.75 0 01-2.81-8.08 12.68 12.68 0 012.38-7.56A9.46 9.46 0 01229 7.58a9.75 9.75 0 018.33 4.33 12.87 12.87 0 012.25 7.61h-18.33a9.53 9.53 0 002.27 6.37 7 7 0 005.42 2.48 8.24 8.24 0 005.53-2.16 13.24 13.24 0 002.23-3.16zm0-6a10 10 0 00-1.53-3.67 7.31 7.31 0 00-2.65-2.21 7.56 7.56 0 00-3.47-.84 7.11 7.11 0 00-5.16 2.11 9.78 9.78 0 00-2.38 4.61z"/><text transform="translate(85.5 50.48)" font-size="16.38" font-family="Lato-Thin,Lato" font-weight="200" fill="#1d1d1b"><tspan letter-spacing="-.01em">V</tspan><tspan x="10.45" y="0">loe</tspan><tspan x="31.48" y="0" letter-spacing="-.04em">r</tspan><tspan x="36.51" y="0">- en</tspan><tspan x="64.56" y="0" letter-spacing="-.03em"> </tspan><tspan x="68.65" y="0" letter-spacing="-.13em">T</tspan><tspan x="75.98" y="0">e</tspan><tspan x="84.46" y="0" letter-spacing="-.01em">g</tspan><tspan x="92.64" y="0" letter-spacing="0">el</tspan><tspan x="104.61" y="0" letter-spacing="-.01em">w</tspan><tspan x="116.88" y="0">er</tspan><tspan x="131.05" y="0" letter-spacing="-.03em">k</tspan><tspan x="138.02" y="0">en</tspan></text><path fill="#9d9d9c" d="M0 17.96V19h31.52v31.49h1.04V17.96H0z"/><path class="cls-1" d="M14.85.75v49.74"/><g clip-path="url(#clip-path)"><path class="cls-1" d="M14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75zM14.85.75z"/></g><path class="cls-1" d="M13.83.75h2.02v49.74h-2.02z"/><path class="cls-2" d="M0 35.69h239.58"/><g clip-path="url(#clip-path-2)"><path class="cls-2" d="M239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69zM239.58 35.69z"/></g><path class="cls-2" d="M0 34.64h239.58v2.09H0z"/><path class="cls-1" d="M.03 38.6h11.89v11.88H.03z"/><path class="cls-2" d="M17.76 20.87h11.88v11.89H17.76z"/><path class="cls-15" d="M18.26 38.6h11.89v11.88H18.26zM.05 20.87h11.89v11.89H.05z"/></g></g></svg>  </a>
  {% if site_name %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
  {% endif %}
  {{ site_slogan }}
{% endblock %}
