// Non-modular or client styles for .l-footer region.
#footer-wrapper{
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  background-color: #212121;
}
footer#footer {
  @include flex-grid-row();
  flex-direction: column;
  align-items: center;
  padding: 0px 0;
  max-width: 1245px;

  .region {
    @include grid-col-gutter();
    width: 100%;
    margin-bottom: 30px;
    @include breakpoint(mediumplus) {
      width: 100%;
      margin-bottom: 0;
    }
  }

  .block-social {
    .linkicon {
      justify-content: center;
      @include breakpoint(mediumplus) {
        justify-content: flex-end;
      }
    }
  }
}

.linkicon{
  li:first-of-type{
    a{
      background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fab' data-icon='facebook' class='svg-inline--fa fa-facebook fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23FFFFFF' d='M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z'%3E%3C/path%3E%3C/svg%3E");
      background-repeat: no-repeat;
      width: 24px;
      height: 24px;
      display: block;
      svg{
        display: none;
      }
    }
  }
  li:nth-of-type(2),&:nth-of-type(3){
    a{
      color: $primary-color;
      font-size: 15px;
      text-align: center;
      background-color: white;
      width: 24px;
      height: 24px;
      border-radius: 50px;
      display: block;
    }
  }
  li{
    margin-right: 20px;
    transition: 0.3s ease;
    &:hover{
      transform: scale(1.1);
    }
    &:last-of-type{
      margin-right: 0px;
    }
  }
}


.block-base-footer {
  ul.menu {
    justify-content: center;
    padding: 0px 30px;

    &>li {
      position: relative;
      &::after{
        content: "";
        width: 1px;
        height: 14px;
        background-color: #9D9D9C;
        display: block;
        position: absolute;
        top: 12px;
        right: 0;
        @include breakpoint(mediumplus){
          top: 37px;
        }
      }
      &:last-of-type{
        &::after{
          display: none;
        }
      }
      a, &>span {
        text-transform: lowercase;
        font-weight: normal;
        font-family: lato;
        padding-left:12px;
        padding-right: 12px;
        font-size: 14px;
        color: #9D9D9C;
        letter-spacing: 0.93px;
        text-align: center;
        line-height: 24px;
        display: block;
        line-height: 1;
        &:hover, &:focus {
          color: $primary-color;
        }
        @include breakpoint(mediumplus) {
          padding-top: 35px;
          padding-bottom: 35px;
        }

      }
      &>span {
        cursor: pointer;
        padding: 0.7rem 1rem;
        @include breakpoint(mediumplus) {
          padding-top: 35px;
          padding-bottom: 35px;
        }
      }
    }
  }
}

.region-footer_middle {
  text-align: center;
  background-color: white;
  position: relative;
  margin-bottom: 0px!important;
  padding-bottom: 30px;
  padding-top: 30px;
  @include breakpoint(mediumplus){
    padding-bottom: 0;
    padding-top: 0px;
  }
  &::before{
    content: "";
    height: 100%;
    width: 200vw;
    left: -50vw;
    background-color: white;
    position: absolute;
    top: 0;
    z-index: 0;
  }
}

.region-footer_first{
  background-color: #212121;
  @include breakpoint(mediumplus){
    max-width: 1245px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 75px;
    padding-bottom: 95px;
  }
  @include breakpoint(large){
    justify-content: flex-start;
  }
  .block-sitebranding{
    margin-bottom: 40px;
    margin-top: 60px;
    @include breakpoint(mediumplus){
      margin: 0;
    }
    @include breakpoint(large){
      margin-right: 110px;
    }
    svg{
      width: 210px;
      margin: 0 auto;
      display: block;
      .cls-1{
        fill: white;
      }
      tspan{
        fill: white;
      }
    }
  }
  .main-contact-data{
    margin-bottom: 40px;
    @include breakpoint(mediumplus){
      margin: 0;

    }
    @include breakpoint(large){
      margin-right: 70px;
    }
    .field-item,p{
      font-weight: 800;
      font-family: $lato;
      font-size: 18px;
      color: #FFFFFF;
      letter-spacing: 1.2px;
      text-align: center;
      line-height: 24px;
      @include breakpoint(mediumplus){
        text-align: left;
      }
    }
  }
  .field-name-field-extra-main-contact-fields{
    margin-bottom: 50px;
    @include breakpoint(mediumplus){
      margin: 0;
    }
    .field-item{
      @include breakpoint(large){
        height: 23px;
      }
    }

    .field-item,a,span{
      font-family: $lato;
      font-weight: 300;
      font-size: 18px;
      color: #FFFFFF;
      text-align: center;
      letter-spacing: 1.2px;
      line-height: 18px;
      @include breakpoint(mediumplus){
        text-align: left;
      }
    }
    a{
      transition: 0.3s ease;
    }
    a:hover{
      color: $primary-color;
    }
  }
  #block-social{

    &:before{
      content: "FOLLOW US";
      font-family: $lato;
      font-weight: 300;
      font-size: 18px;
      color: #FFFFFF;
      letter-spacing: 1.2px;
      text-align: center;
      line-height: 24px;
      display: block;
      margin-bottom: 18px;
      @include breakpoint(mediumplus){
        text-align: right;
      }
    }
    @include breakpoint(large){
      margin-left: auto!important;
    }
    .linkicon{

    }
    margin-bottom: 50px;
    @include breakpoint(mediumplus){
      margin: 0;
    }
    a{
      color: black;
    }
  }
}
