// Non-modular or client styles for .l-header region.
#header-wrapper {
  header#header {
    max-width: $global-width;
    margin: 0 auto;
  }
}

.region-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  @include breakpoint(mediumplus) {
    @include grid-column-gutter();
    padding-top: 50px;
    padding-bottom: 25px;
  }
  @include breakpoint(xlarge){
    padding-left: 0px;
    padding-right: 0px;
  }
}

.block-system-branding-block,
.block-base-main-menu,
.block-nav-toggle {

}


.block-base-main-menu {
  @include show-for($mobile-nav-breakpoint);
}
.block-nav-toggle {
  @include hide-for($mobile-nav-breakpoint);
  position: relative;
  z-index: 13;
  height: 100%;
  margin-bottom: auto;
  margin-top: 10px;
  button{
    outline: none;
  }
  .is-active{
    span{
      background-color: white;
      &::before,&::after{
        background-color: white;
      }
    }
  }
}


.off-canvas-wrapper {
  ul.menu {
    &>li {
      &:first-of-type{
        a{
          padding-left: 0px;
        }
      }
      &:last-of-type{
        a{
          padding-right: 0px;
        }
      }
      &>a {
        color: $body-font-color;
        text-transform: lowercase;
        font-weight: 800;
        transition: color .25s ease-out;
        font-size: 18px;
        font-family: $lato;
        letter-spacing: 0.75px;
        @include breakpoint(mediumplus){
          padding: 0px 10px;
          font-size: 15px;
        }
        @include breakpoint(large){
          font-size: 18px;
        }
        @include breakpoint(xlarge){
          padding: 0px 25px;
        }
        &>span {
          position: relative;
          &:after {
            content: '';
            display: block;
            background-color: $primary-color;
            height: 2px; width: 20px;
            position: absolute;
            bottom: -3px; left: 0;
            opacity: 0;
          }
        }
        &.is-active {
          color: $primary-color;
          &>span {
            &:after {
              opacity: 1;
            }
          }
        }
        &:hover, &:focus {
          color: $primary-color;
          &>span {
            &:after {
              //display: block;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

header{
  .block-system-branding-block{
    svg{
      width: 130px;
      @include breakpoint(mediumplus){
        width: 170px;
      }
      @include breakpoint(xlarge){
        width: 260px;
      }
      .cls-1{
        //fill: $primary-color;
      }
    }
  }
}


