.region-right_off_canvas {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .is-drilldown{
    max-width: 210px;
    margin: 0 auto;
  }
  #block-mainnavigation{
    margin-bottom: 65px;
  }
  #block-social-2{
    max-width: 210px;
    margin: 0 auto;
    width: 100%;
  }
  .menu{

    li{
      margin-bottom: 30px;
      &:last-of-type{
        margin-bottom: 0px;
      }
      a{
        padding: 0px!important;
        font-weight: 800!important;
        font-family: $lato!important;
        font-size: 18px!important;
        color: #FFFFFF!important;
        letter-spacing: 0.75px!important;
        background-color: transparent!important;
          position: relative;
          &:after {
            content: '';
            display: block;
            background-color: white;
            height: 2px; width: 20px;
            position: absolute;
            bottom: -11px; left: 0;
            opacity: 0;
          }

        &.is-active {
          color: white;

            &:after {
              opacity: 1;
            }

        }
      }
    }
  }
}

// When logged in and toolbar is visible
.toolbar-horizontal {
  .region-right_off_canvas {
    padding-top: (calc(71.2px + 39px)); // header height + toolbar height
  }
  &.toolbar-tray-open {
    .region-right_off_canvas {
      padding-top: (calc(71.2px + 76px)); // header height + toolbar and tray height
    }
  }
}
