// Common abstract classes to extend or parametrics are stored here.

// Example parametrics.
// ------------------------------------------------------
// %font-FONTNAME   {}
// %font-sans-serif { font-family: sans-serif; }
// %font-serif      { font-family: serif; }

.linkicon {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;

  .linkicon__text {
    display: none;
  }
}

::-moz-selection {
  color: $white;
  background-color: $primary-color;
}

::selection {
  color: $white;
  background-color: $primary-color;
}

// FORM

.js-form-item {
  margin-bottom: 15px;
  label{
    font-family: $lato;
    font-weight: 800;
    font-size: 18px;
    color: #212121;
    letter-spacing: 1.2px;
    line-height: 24px;
    margin-bottom: 15px;
  }
  input,textarea {
    margin-bottom: 0;
    background-color: #EBEBEB;
    border: solid 0px white;
  }

  .description {
    font-size: 12px;
    margin-top: 2px;
  }
}
.form-item-consent{
  label, a{
    font-family: $lato;
    font-weight: 300;
    font-size: 18px;
    color: #212121;
    letter-spacing: 1.2px;
    line-height: 24px;
  }
  a{
    text-decoration: underline;transition: 0.3s ease;
    &:hover{
      color: $primary-color;
    }
  }
}

.js-form-type-checkbox {
  display: flex;
  align-items: flex-start;

  input {
    margin-top: 7px;
    display: none;

    &+label {
      display: -webkit-inline-box;
      margin-left: 0px;

      &:before {
        content: "";
        width: 18px;
        height: 18px;
        border: 2px solid black;
        display: block;
        margin-right: 10px;
        margin-top: 5px;

      }
    }

    &:checked {
      &+label {
        &:before {
          background: url("icons/checked.svg") no-repeat center center;
        }
      }
    }
  }
}

.user-not-logged-in.path-user {
  .block-system-main-block {
    @include grid-row();
  }
  .user-login-form {
    @include grid-column-gutter();
  }
}

button.eu-cookie-withdraw-tab {
  display: none !important;
}

.block-base-local-tasks {
  @include grid-row();
  @include grid-column-gutter();
}

.block-system-breadcrumb-block {
  @include grid-row();
  @include grid-column-gutter();
}
