// @file
// Place your mixins here. Feel free to roll your own mixins.
@mixin wrapper-padding($mobile-padding: true){
  @if $mobile-padding {
    @include grid-column-gutter(80px);
  }
  @include breakpoint(mediumplus){
    @include grid-column-gutter(80px);
  }
}
@mixin button-styler(){
  padding: 10px 20px;
  border: 1px solid black;
  text-transform: lowercase;
  font-weight: 800;
  font-size: rem-calc(18);
  background-color: white;
  transition: 0.3s ease;
  letter-spacing: 1.2px;
  line-height: 24px;
  color: black;
  &:hover, &:focus {
    background-color: white;
    color: $primary-color;
  }
}
