.button, .button.success, .button[disabled].success,
.eu-cookie-compliance-buttons button {
@include button-styler;
}

.burger-icon {
  @include burger(24px, 2px, 7px, $black);
}

.menu-button {
  cursor: pointer;
  &.is-active .burger-icon {
    @include burger-to-cross;
  }
}

.swiper-button-prev{
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='50px' height='29px' viewBox='0 0 50 29' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup 3%3C/title%3E%3Cg id='0.0-Home' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='0.0-Home-Desktop-Hovers' transform='translate(-888.000000, -1280.000000)'%3E%3Cg id='1st-section' transform='translate(195.501859, 830.000000)'%3E%3Cg id='Group-3' transform='translate(693.000000, 450.000000)'%3E%3Cg id='Group'%3E%3Crect id='Rectangle' fill='%23EBEBEB' transform='translate(14.500000, 14.500000) scale(-1, 1) translate(-14.500000, -14.500000) ' x='0' y='0' width='29' height='29'%3E%3C/rect%3E%3Cline x1='13' y1='14.5' x2='48' y2='14.5' id='Line' stroke='%239D9D9C' stroke-width='2' stroke-linecap='square'%3E%3C/line%3E%3C/g%3E%3Cpolyline id='Stroke-1' stroke='%239D9D9C' stroke-width='2' transform='translate(15.000000, 14.500000) scale(-1, 1) translate(-15.000000, -14.500000) ' points='11 7 19 14.5 11 22'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  width: 50px;
  background-size: cover;
  height: 29px;
  bottom: -65px;
  top: auto;
  left: 39px;
  right: auto;
  outline: none;
  transition: 0.3s ease;
  @include breakpoint(mediumplus){
    right: 75px;
    left: auto;
  }
  @include breakpoint(large){
    right: 275px;
  }
  &:hover{
   // transform: rotate(-180deg);
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='49px' height='29px' viewBox='0 0 49 29' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup 2%3C/title%3E%3Cg id='0.0-Home' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='0.0-Home-Desktop-Hovers' transform='translate(-1174.000000, -1329.000000)' stroke-width='2'%3E%3Cg id='Group-2' transform='translate(1198.000000, 1343.500000) scale(-1, 1) translate(-1198.000000, -1343.500000) translate(1174.000000, 1329.000000)'%3E%3Crect id='Rectangle' stroke='%23BE1622' transform='translate(33.104980, 14.500000) scale(-1, 1) rotate(180.000000) translate(-33.104980, -14.500000) ' x='19.6049805' y='1' width='27' height='27'%3E%3C/rect%3E%3Cpolyline id='Stroke-1' stroke='%239D9D9C' transform='translate(31.604980, 14.500000) scale(-1, 1) rotate(180.000000) translate(-31.604980, -14.500000) ' points='27.6049805 7 35.6049805 14.5 27.6049805 22'%3E%3C/polyline%3E%3Cline x1='0' y1='14.5' x2='35.1049805' y2='14.5' id='Line' stroke='%239D9D9C' stroke-linecap='square'%3E%3C/line%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E")!important;
  }
}
.swiper-button-next{
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='48px' height='29px' viewBox='0 0 48 29' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup 2%3C/title%3E%3Cg id='1.0-Vloeren-en-wandtegels' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='1.0-Vloeren-en-wandtegels-Desktop' transform='translate(-1161.000000, -640.000000)'%3E%3Cg id='1st-section' transform='translate(216.000000, 190.000000)'%3E%3Cg id='Group-2' transform='translate(946.000000, 450.000000)'%3E%3Crect id='Rectangle' fill='%23EBEBEB' transform='translate(32.500000, 14.500000) scale(-1, 1) rotate(180.000000) translate(-32.500000, -14.500000) ' x='18' y='0' width='29' height='29'%3E%3C/rect%3E%3Cpolyline id='Stroke-1' stroke='%239D9D9C' stroke-width='2' transform='translate(31.000000, 14.500000) scale(-1, 1) rotate(180.000000) translate(-31.000000, -14.500000) ' points='27 7 35 14.5 27 22'%3E%3C/polyline%3E%3Cline x1='0' y1='14.5' x2='35' y2='14.5' id='Line' stroke='%239D9D9C' stroke-width='2' stroke-linecap='square'%3E%3C/line%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  width: 48px;
  height: 29px;
  background-size: cover;
  bottom: -65px;
  right: 39px;
  top: auto;
  outline: none;
  transition: 0.3s ease;
  @include breakpoint(mediumplus){
  right: 0px;
  }
  &:hover{
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='48px' height='29px' viewBox='0 0 48 29' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup 2%3C/title%3E%3Cg id='0.0-Home' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='0.0-Home-Desktop-Hovers' transform='translate(-1163.000000, -1280.000000)'%3E%3Cg id='Group-4' transform='translate(195.000000, 830.000000)'%3E%3Cg id='1st-section' transform='translate(0.501859, 0.000000)'%3E%3C/g%3E%3Crect id='Rectangle' stroke='%23BE1622' stroke-width='2' transform='translate(1001.104980, 464.500000) scale(-1, 1) rotate(180.000000) translate(-1001.104980, -464.500000) ' x='987.60498' y='451' width='27' height='27'%3E%3C/rect%3E%3Cpolyline id='Stroke-1' stroke='%239D9D9C' stroke-width='2' transform='translate(999.604980, 464.500000) scale(-1, 1) rotate(180.000000) translate(-999.604980, -464.500000) ' points='995.60498 457 1003.60498 464.5 995.60498 472'%3E%3C/polyline%3E%3Cline x1='968' y1='464.5' x2='1003.10498' y2='464.5' id='Line' stroke='%239D9D9C' stroke-width='2' stroke-linecap='square'%3E%3C/line%3E%3C/g%3E%3Cg id='Group-2' transform='translate(1163.000000, 1280.000000)'%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E")!important;
  }
}
