.block.contact-data.full {
  /* if 1 branch, main contact data and contact data from branch should be in rows */
    &.single-branch {
      //display: flex;
    }
  /* end if 1 branch*/
  p {
    margin-bottom: 0;
  }
}

#block-contact{
  @include breakpoint(large){
    display: flex;
  }
}

.paragraph--type--branch {
  display: flex;
  flex-direction: column;

  p {
    margin-bottom: 0;
  }
}

.geolocation-map-container {
  height: 415px!important;
  @include breakpoint(mediumplus){
    //height: 100%;
  }
}

.gm-style .gm-style-iw-c {
  border-radius: 0;
}

.webform-button--submit{
  margin-top: 15px;
}
.webform-confirmation{
  @include grid-col-gutter;
  @include grid-row;
}

.contact-page{
  .main-contact-data,.field-name-field-extra-main-contact-fields{
    .field-item,a{
      font-family: $lato;
      font-weight: 300;
      font-size: 18px;
      color: $black;
      letter-spacing: 1.2px;
      line-height: 30px;
      transition: 0.3s ease;
    }
    a:hover{
      color: $primary-color;
    }
    .field-name-field-company-name{
      .field-item{
        font-weight: 800;
      }
    }
  }
  .breadcrumbs{
    @include breakpoint(mediumplus){
      margin-bottom: 10px!important;
    }
  }
  .main-contact-data{
    margin-bottom: 25px;
  }
  figcaption{
    width: 100%;
  }
  .inner-fig{
    @include breakpoint(mediumplus){
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      max-width: 100%!important;
      padding-right: 15px!important;
      margin-top: 35px;
    }
    @include breakpoint(large){
        .body{
          max-width: 325px!important;
        }
      .contact-data{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      .main-contact-data{
        margin-right: 40px;
      }
    }
  }
}
