.home.full {
  h1 {
    margin-bottom: 0px;
    font-family: $opensans;
    font-size: 8.8px;
    color: $primary-color;
    text-transform: uppercase;
    letter-spacing: 1.04px;
    line-height: 8.8px;
    @include breakpoint(mediumplus){
      font-size: 16px;
    }

  }
  h2 {
    font-family: $lato;
    font-weight: 800;
    font-size: 41.25px;
    color: #212121;
    letter-spacing: 0;
    line-height: 44px;
    @include breakpoint(mediumplus){
      font-size: 60px;
      line-height: 65px;
    }
    @include breakpoint(large){
      font-size: 75px;
      line-height: 80px;
    }
    display: inline-block;
    position: relative;
    &::after{
      //content: "";
      width: 14px;
      height: 14px;
      background-color: $primary-color;
      position: absolute;
      right: 60px;
      bottom: 4px;
      border-radius: 15px;
      @include breakpoint(mediumplus){
        right: 270px;
        bottom: 8px;
      }
      @include breakpoint(large){
        right: 120px;
        bottom: 8px;
      }
    }
  }
}

.of{
  color: $primary-color!important;
}
.offront{
  color: $primary-color!important;
}
