.page.full,.taxo-type-page {
  header {
    margin-bottom: 25px;
    @include breakpoint(mediumplus){
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      max-width: 995px;
      margin: 0 auto;
      position: relative;
      margin-top: 30px;
      margin-bottom: 100px;
    }
    @include breakpoint(xlarge){
      margin-bottom: 140px;
    }
    .breadcrumbs{
      @include breakpoint(mediumplus){
        margin-bottom: 70px;
        padding-left: 15px;
      }
      a{
        text-transform: lowercase;
      }
    }
    .inner-fig{
      background-color: white;
      @include breakpoint(mediumplus){
        max-width: 635px;
        margin-left: 0;
        padding: 15px;
      }
      @include breakpoint(large){
        padding-right: 45px;
      }
    }
    figure {
      @include wrapper-padding();
      margin-bottom: 30px;
      max-width: 500px;
      position: relative;
      @include breakpoint(mediumplus){
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        max-height: 415px;

        padding: 0px;
      }
      img {
        //margin: 0 auto 30px auto;
        display: block;
        @include breakpoint(medium){
          //margin: 0 auto 50px auto;
        }
        @include breakpoint(large){
          //margin: 0 auto 80px auto;
        }
      }
    }
    figcaption {
      @include wrapper-padding();
      margin-bottom: 30px;
      @include breakpoint(mediumplus){
        padding: 0px;
        margin-bottom: 0px;
        z-index: 2;
        position: relative;
      }
      h1{
        font-family: $lato;
        font-weight: 800;
        font-size: 50px;
        color: #212121;
        letter-spacing: 0;
        display: inline-block;
        @include breakpoint(mediumplus){
          font-size: 75px;
          line-height: 80px;
          padding-left: 15px;
          margin-bottom: 0px;
        }
        position: relative;
        &::after{
          width: 14px;
          height: 14px;
          background-color: $primary-color;
          position: absolute;
          right: -22px;
          bottom: 15px;
          border-radius: 15px;
          @include breakpoint(mediumplus){
            right: -18px;
            bottom: 8px;
          }
        }
      }
      h2{
        font-family: $lato;
        font-weight: 800;
        font-size: 25px;
        color: $primary-color;
        letter-spacing: 2.61px;
        line-height: 30px;
      @include breakpoint(mediumplus){
        margin-bottom: 40px;
      }
      }
      .body{
        p{
          font-family: $lato;
          font-weight: 300;
          font-size: 18px;
          color: #212121;
          letter-spacing: 1.2px;
          line-height: 30px;
          @include breakpoint(mediumplus){
            margin-bottom: 0px;
          }
        }
      }
    }
  }
}

.taxo-type-page{
  h1{
    max-width: 435px;
  }
  .inner-fig{
    @include breakpoint(mediumplus){
      padding-top: 140px!important;
      margin-top: -90px;
    }
  }
  .breadcrumbs{
    @include breakpoint(mediumplus){
      margin-bottom: 25px!important;
    }
  }
  .field-name-description{
    @include breakpoint(mediumplus) {
      column-count: 2;
    }
    p{
      font-family: $lato;
      font-weight: 300;
      font-size: 18px;
      color: #212121;
      letter-spacing: 1.2px;
      line-height: 30px;
      @include breakpoint(mediumplus){
        margin-bottom: 0px;
      }
    }
  }
  header {
    > figure {
      @include breakpoint(mediumplus) {
        margin: 0 !important;
      }
    }
  }
}

.taxo-page-full{
  > .views-row, > a{
    display: none;
  }
}

.reveal{
  @include breakpoint(mediumplus){
    width: 730px;
  }
}
