.paragraph--type--text-blocks {
  @include wrapper-padding();
  margin-bottom: 30px;
  @include breakpoint(xlarge) {
padding:0px;
    margin-bottom: 120px;
  }
  &>.field-name-field-text-blocks {
    @include grid-row();
    &>.field-items {
     @include breakpoint(large){
       @include flex-grid-size(10 of 12);
       margin: 0 auto;
       display: flex;
       flex-direction: row;
     }
      &>div {
        margin-bottom: 65px;
        @include breakpoint(large){
          @include flex-grid-column(1 of 2);
          padding-left: 0px!important;
          padding-right: 0px!important;
        }
        &:first-of-type{
          p{
            font-family: lato;
            font-weight: 300;
            font-size: 18px;
            color: #212121;
            letter-spacing: 1.2px;
            line-height: 30px;
          }
          @include breakpoint(large){
            display: flex;
            flex-direction: column;
            justify-content: center;
            .paragraph--type--text-block{
              @include flex-grid-size(4 of 5);
              padding-left: 0px!important;
              padding-right: 0px!important;
              display: flex;
              flex-direction: column;
              justify-content: center;
            }
          }
        }
        &:last-of-type {
          margin-bottom: 0;
          padding-top: 55px;
          padding-bottom: 55px;
          @include breakpoint(large){
            background-color: #212121;
            padding: 50px!important;
          }
          p{
            font-family: $lato;
            font-weight: 300;
            font-size: 27px;
            color: #FFFFFF;
            letter-spacing: 0;
            line-height: 35px;
            @include breakpoint(large){
              font-size: 30px;
              line-height: 41px;
            }
            &:first-of-type{
              @include breakpoint(large) {
                margin-bottom: 40px;
              }
            }
            strong{
              font-family: $lato;
              font-weight: 800;
              font-size: 27px;
              color: #FFFFFF;
              line-height: 35px;
              letter-spacing: 0;
              @include breakpoint(large){
                font-size: 30px;
                line-height: 41px;
              }
            }
          }
          position: relative;
          &::before{
            content: "";
            width: 200vw;
            height: 100%;
            position: absolute;
            left: -25vw;
            z-index: -1;
            top: 0;
            background-color: #212121;
            @include breakpoint(large){
              display: none;
            }
          }
          &::after{
            content: "";
            width: 42px;
            height: 42px;
            background-color: $primary-color;
            position: absolute;
            bottom: -21px;
            left: 0;
            right: 0;
            margin: auto;
            @include breakpoint(large){
              right: -21px;
              left: auto;
              margin: 0;
            }
          }
        }
      }
    }
  }
  .paragraph--type--text-block {
    .field-name-field-text {
      h4{
        font-family: $lato;
        font-weight: 800;
        font-size: 18px;
        color: $primary-color;
        letter-spacing: 2.61px;
        line-height: 30px;
        @include breakpoint(large){
          font-size: 25px;
          max-width: 185px;
          margin-bottom: 35px;
          word-break: break-word;

        }
      }

      p:last-of-type {
        margin-bottom: 0;
      }
    }
    .actions-wrapper {
      margin-top: 20px;
      .button {
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}

.paragraph--type--text-image {
  @include wrapper-padding();
  margin-bottom: 105px;
  @include breakpoint(mediumplus) {
    margin-bottom: 255px;
  }
  .paragraph-content-wrapper {
    @include grid-row();
  }
  .content-wrapper {
    display: flex;
    flex-direction: column-reverse;
    @include breakpoint(mediumplus) {
      @include flex-grid-size(10 of 12);
      margin: 0 auto;
      flex-direction: row-reverse;
      justify-content: flex-start;
    }
    &>.content {
      @include flex-grid-column(1 of 1);
      padding-left: 0px!important;
      padding-right: 0px!important;
      @include breakpoint(mediumplus) {
        @include flex-grid-column(1 of 2);
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      @include breakpoint(large){
        .field-name-field-text,.actions-wrapper{
          @include grid-column-offset(1 of 5);
        }
      }
    }
    &>figure {
      @include flex-grid-column(1 of 1);
      margin-bottom: 60px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-left: 0px!important;
      padding-right: 0px!important;
      div.title-line{
        display: none;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        z-index: 1;
        right: 50px;
        bottom: -44px;
        transform: rotate(-90deg);
        display: none;
        @include breakpoint(xlarge){
          display: flex;
          right: 11px;
          bottom: auto;
          top: 118px;
        }
        .upper{
          width: 1px;
          height: 92px;
          background-color: white;
        }
        .lower{
          width: 1px;
          height: 102px;
          background-color: $primary-color;
        }
      }
      @include breakpoint(mediumplus) {
        @include flex-grid-column(1 of 2);
        margin-bottom: 0;
        padding-left: 0px!important;
        padding-right: px!important;
      }
      position: relative;
      &::after{
        content: "";
        height: 175px;
        width: 160px;
        background-color: #EBEBEB;
        position: absolute;
        left: -29px;
        bottom: -40px;
        z-index: -1;
        display: block;
        @include breakpoint(mediumplus){
          width: 605px;
          height: 465px;
          left: auto;
          right: 115px;
          bottom: -105px;
        }
      }
      img{
        margin-right: auto;
      }
    }
    .field-name-field-text{
      h4{
        font-family: $lato;
        font-size: 25px;
        font-weight: 800;
        color: $primary-color;
        letter-spacing: 1.67px;
        line-height: 24px;
        margin-bottom: 25px;

      }
      h3{
        font-family: $lato;
        font-weight: 800;
        font-size: 37px;
        color: #212121;
        letter-spacing: 1.55px;
        line-height: 40px;
        margin-bottom: 35px;
        @include breakpoint(mediumplus){
          margin-bottom: 40px;
        }
      }
      p{
        font-family: $lato;
        font-weight: 300;
        font-size: 13px;
        color: #212121;
        letter-spacing: 0.87px;
        line-height: 24px;
        &:last-of-type{
          margin-bottom: 0px;
        }
      }
    }
  }
  .actions-wrapper {
    margin-top: 20px;
    .button {
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.paragraph--type--form {
  @include wrapper-padding();
  .paragraph-content-wrapper {
    @include grid-row();
    .paragraph-content {
      max-width: 800px;
    }
  }
}

.paragraph--type--map-form {
  @include wrapper-padding();
  display: flex;
  flex-direction: column;
  max-width: $global-width;
  margin: 0 auto;
  margin-bottom: 75px;
  @include breakpoint(mediumplus){
    margin-bottom: 150px;
  }
  @include breakpoint(xlarge){
    padding: 0px!important;
  }
  .contact-wrapper {
    margin-bottom: 75px;
    @include breakpoint(mediumplus) {
      margin-bottom: 220px;
      width: 100%;
      @include flex-grid-size(9 of 12);
      @include grid-column-offset(2 of 12);
    }
    position: relative;
    &::after{
      content: "";
      height: 175px;
      width: 160px;
      background-color: $primary-color;
      position: absolute;
      left: -29px;
      bottom: -40px;
      z-index: -1;
      display: block;
      @include breakpoint(mediumplus){
        width: 492px;
        height: 385px;
        left: -330px;
        right: auto;
        bottom: -62px;

      }
    }
    .field-name-field-map {
      display: flex;
      flex: 1 1 100%;
      .views-element-container {
        width: 100%;
      }
    }

  }
  .form-field-wrapper{
    @include breakpoint(mediumplus){
      @include flex-grid-size(10 of 12);
      width: 100%;
      margin: 0 auto;
      form{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        .form-item-email, .form-item-last-name, .form-item-first-name, .form-item-phone{
          max-width: calc(50% - 24px);
          width: 100%;
        }
        .form-item-message,.form-item-consent,.captcha{
          width: 100%;
        }

      }
    }
  }
}

.paragraph--type--image {
  @include flex-grid-row();
  justify-content: center;

  .field-name-field-image {
    @include grid-col-gutter();
  }
}

.paragraph--type--video {
  @include grid-row();
}

.paragraph--type--call-to-action{
  margin-bottom: 75px;
  @include breakpoint(mediumplus){
    margin-bottom: 150px;
  }
figure{
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  &::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(198,11,24,0.8);
    top: 0;
    left: 0;
    max-width: 1440px;
    right: 0;
    margin: auto;
  }
}
  figcaption{
    z-index: 2;
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    @include wrapper-padding();
    @include breakpoint(mediumplus){
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  .field-name-field-text{
    max-width: 650px;
    margin: 0 auto;
    margin-bottom: 45px;
    p,a{
      font-family: $lato;
      font-weight: 800;
      font-size: 45px;
      color: white;
      letter-spacing: 0;
      line-height: 50px;
    }
  }
  .field-name-field-link{
    max-width: 650px;
    margin: 0 auto;
    a{
      @include button-styler();
      background-color: transparent;
      color: white;
      border: 1px solid white;
      &:hover{
        border: 1px solid white;
      }
    }
  }
}

.paragraph--type--banner{
  max-width: $global-width;
  margin: 0 auto;
  margin-bottom: 75px;
  @include breakpoint(large){
    margin-top: 180px;
    margin-bottom: 200px;
  }
  .paragraph-content-wrapper{
    position: relative;
  }
  .back-wrapper{

    width: 100%;
    height: calc(100% - 60px);
    //background-color: rgba(33,33,33,0.8);
    background-repeat: no-repeat!important;
    background-size: cover!important;
    position: absolute;
    top: 0;
    max-width: $global-width;
    margin: 0 auto;
    left: 0;
    @include breakpoint(mediumplus){
      right: 0;
      margin: auto;
      height: 100%;
      max-height: 100%;
    }
    &::after{
      content: "";
      width: 100%;
      height: calc(100% - 60px);
      background-color: rgba(33,33,33,0.8);
      position: absolute;
      top: 0;
      max-width: $global-width;
      margin: 0 auto;
      left: 0;
      @include breakpoint(mediumplus){
        right: 0;
        height: 100%;
        max-height: 100%;
        margin: auto;
      }
    }
  }
  .content-wrapper{
    position: relative;
    background-position-y: -340px!important;
    @include breakpoint(mediumplus){
      @include flex-grid-size(10 of 12);
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

    }


    .left-wrapper,.right-wrapper{
      z-index: 2;
      position: relative;
      @include breakpoint(mediumplus){
        @include flex-grid-column(1 of 2);
        padding-left: 0px!important;
        padding-right: 0px!important;
      }
    }
    .left-wrapper{
      @include breakpoint(mediumplus){
        padding-top: 175px;
        padding-bottom: 155px;
      }
      .inner-left{
        @include breakpoint(medium down){
          @include wrapper-padding();
        }
      }
    }
    .right-wrapper{
      @include breakpoint(mediumplus){
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      @include breakpoint(large){
        display: block;
        position: absolute;
        right: 0;
        top: -90px;
      }
    }
  }
  .field-name-field-text{
    margin-bottom: 55px;
    padding-top: 70px;
    @include breakpoint(mediumplus){
      margin-bottom: 0px;
      padding: 0px;
      padding-right: 86px;
    }
    p{
      font-family: $lato;
      font-weight: 800;
      font-size: 27px;
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: 37px;
      @include breakpoint(mediumplus){
        font-size: 35px;
        line-height: 44px;
      }
      em{
        font-style: normal;
        color: $primary-color;
      }
    }
  }
  .field-name-field-image{
    @include breakpoint(medium down){
      @include wrapper-padding();
    }
    .field-item{
      display: flex;
      flex-direction: row;
      justify-content: center;
      @include breakpoint(mediumplus){
        justify-content: flex-end;
      }
    }
  }
}

.paragraph--type--slider-text{
  @include wrapper-padding();
  margin-bottom: 50px;
  @include breakpoint(mediumplus){
    margin-bottom: 135px;
  }
  .paragraph-content-wrapper {
    @include grid-row();
    .content-wrapper{
      display: flex;
      flex-direction: column-reverse;
      @include breakpoint(mediumplus){
        flex-direction: row;
        justify-content: space-between;
        @include flex-grid-size(10 of 12);
        margin: 0 auto;
        position: relative;
      }
    }
  }

  .left-wrapper{
    @include breakpoint(mediumplus){
      @include flex-grid-column(6 of 10);
      padding-left: 0px!important;
      padding-right: 0px!important;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

    }
    @include breakpoint(xlarge){
      width: 596px;
      min-width: 596px;
      z-index: 3;
    }
    .inner-left{
      position: relative;
      .svg-wrap{
        @include breakpoint(mediumplus) {
          position: absolute;
          top: -35px;
          left: -26px;
        }
        @include breakpoint(xlarge){
          top: -45px;
          left: -70px;
        }
      }
    }
  }
  .right-wrapper{
    margin-bottom: 100px;
    @include breakpoint(mediumplus){
      @include flex-grid-column(5 of 10);
      padding-left: 0px!important;
      padding-right: 0px!important;
      margin-bottom: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;

    }
    @include breakpoint(xlarge){
      margin-left: -104px;
      z-index: 2;
      margin-bottom: 75px;
    }
    .inner-right{
      position: relative;
      @include breakpoint(medium down){
        max-width: 500px;
        margin: 0 auto;
      }
    }

   .swiper-button-prev{
      left: 0;
     @include breakpoint(xlarge){
       right: 275px;
       left: auto;
     }
    }
    .swiper-button-next{
      right: 0;
    }
  }

  .field-name-field-text{
    @include breakpoint(mediumplus){
      background-color: white;
      padding-top: 85px;
      padding-right: 35px;
      column-count: 2;
    }

    .field-item{
      p{
        font-family: $lato;
        font-weight: 300;
        font-size: 18px;
        color: #212121;
        letter-spacing: 1.2px;
        line-height: 30px;
      }
      h4{
        font-family: $lato;
        font-weight: 800;
        font-size: 25px;
        color: $primary-color;
        letter-spacing: 2.32px;
        line-height: 30px;
      }
    }
  }
  .field-name-field-label{
    font-family: $lato;
    font-weight: 300;
    font-size: 15px;
    color: #212121;
    letter-spacing: 1.2px;
    line-height: 30px;
    transform: scale(0.9);
    display: flex;
    flex-direction: row;
    justify-content: center;
    @include breakpoint(xlarge){
      transform: scale(1.2);
    }
    svg{
      overflow: visible;
      transform: rotate(115deg);
    }
  }
  .svg-wrap{
    margin-bottom: 60px;
    .svgspan{
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='40px' height='40px' viewBox='0 0 40 40' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup%3C/title%3E%3Cg id='0.0-Home' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='0.0-Home-Mobiel' transform='translate(-140.000000, -787.000000)'%3E%3Cg id='circle' transform='translate(111.358295, 756.013699)'%3E%3Cg id='Group-34' transform='translate(45.641705, 0.986301)'%3E%3C/g%3E%3Cg id='Group' transform='translate(28.641705, 30.986301)' stroke='%239D9D9C'%3E%3Crect id='Rectangle' x='0.5' y='0.5' width='16' height='16' rx='3'%3E%3C/rect%3E%3Crect id='Rectangle' x='23.5' y='0.5' width='16' height='16' rx='3'%3E%3C/rect%3E%3Crect id='Rectangle' x='0.5' y='23.5' width='16' height='16' rx='3'%3E%3C/rect%3E%3Crect id='Rectangle' x='23.5' y='23.5' width='16' height='16' rx='3'%3E%3C/rect%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      width: 40px;
      height: 40px;
      display: block;
      background-size: cover;
      background-repeat: no-repeat;
      text-transform: uppercase;
      margin: 0 auto;
      margin-top: -68Px;
      @include breakpoint(xlarge){
        width: 60px;
        height: 60px;
        margin-top: -78px;
      }
    }
  }


  .image-left{
    .svg-wrap,.swiper-button-prev,.swiper-button-next{
      display: none!important;
    }
    .content-wrapper{
      @include breakpoint(mediumplus){
        flex-direction: row-reverse;
      }
    }
    .left-wrapper{
      @include breakpoint(mediumplus){
        @include flex-grid-column(1 of 2);
      }
    }
    .right-wrapper{
      @include breakpoint(xlarge){
        margin-left: 0px!important;
        margin-right: -104px!important;
        margin-bottom: 10px!important;
      }
    }
    .field-name-field-text{
      column-count: 1;
      @include breakpoint(mediumplus){
        padding-top: 90px;
        padding-bottom: 70px;
        padding-left: 35px;
      }
      @include breakpoint(xlarge){
        padding-left: 140px!important;
        padding-right: 15px!important;
      }
    }
  }
}

.paragraph--type--realisations{
  @include breakpoint(medium down){
    @include wrapper-padding();
  }
  margin-top: 105px;
  .hide-item{
    display: none;
  }
  .viewsreference--view-title{
    font-family: $lato;
    font-weight: 800;
    font-size: 45px;
    color: #212121;
    letter-spacing: 1.88px;
    text-align: center;
    line-height: 48px;
    margin-bottom: 70px;
  }
  .grid{
    list-style-type: none;
    margin: 0 auto;
    max-width: $global-width;
    margin-bottom: 75px;

    @include breakpoint(mediumplus){
      margin-bottom: 150px;
    }
  }
  .grid-item{
    max-width: calc(50% - 15px);
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    .gallery.full {
      .field-node--field-image {
        position: relative;

        &:hover {
          &::before, &::after {
            opacity: 1;
          }
        }

        &::before {
          background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='58px' height='56px' viewBox='0 0 58 56' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3E+%3C/title%3E%3Cg id='1.0-Vloeren-en-wandtegels' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='+' transform='translate(0.500000, 0.000000)' stroke='%23FFFFFF' stroke-width='2'%3E%3Crect id='Rectangle' transform='translate(28.500000, 28.000000) scale(-1, 1) translate(-28.500000, -28.000000) ' x='1.5' y='1' width='54' height='54'%3E%3C/rect%3E%3Cline x1='13' y1='28.5' x2='46' y2='28.5' id='Line-2' stroke-linecap='square'%3E%3C/line%3E%3Cline x1='12.5' y1='28.5000175' x2='46.5' y2='28.4999825' id='Line-2' stroke-linecap='square' transform='translate(29.500000, 28.500000) rotate(90.000000) translate(-29.500000, -28.500000) '%3E%3C/line%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
          content: "";
          width: 58px;
          height: 56px;
          position: absolute;
          top: 0;
          transition: 0.3s ease;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          position: absolute;
          cursor: pointer;
          z-index: 5;
          opacity: 0;
        }

        &::after {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          transition: 0.3s ease;
          cursor: pointer;
          display: block;
          z-index: 4;
          top: 0;
          left: 0;
          opacity: 0;
          background-color: rgba(190, 22, 34, 0.8);
        }
      }
    }
    &:first-of-type{
      .self-reveal{
        //display: block;
      }
    }
  }

  .self-reveal{
    position: fixed;
    top: -200vh;
    left: 0;
    right: 0;
    bottom: auto;
    background-color: rgba(33,33,33,0.8);
    width: 100%;
    height: 100%;
    z-index: 60;
    margin: auto;
    //display: none;
    transition: 0.3S ease;
    .close-button{
      right: 0;
      top: -30px;
    }
    .back-close{
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='21px' height='21px' viewBox='0 0 21 21' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup%3C/title%3E%3Cg id='1.0-Vloeren-en-wandtegels' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='square'%3E%3Cg id='Group' transform='translate(1.000000, 1.250000)' stroke='%23FFFFFF' stroke-width='2'%3E%3Cline x1='-2.45652174' y1='9.25' x2='21.4565217' y2='9.25' id='Line-2-Copy' transform='translate(9.500000, 9.250000) rotate(45.000000) translate(-9.500000, -9.250000) '%3E%3C/line%3E%3Cline x1='-2.45652174' y1='9.25' x2='21.4565217' y2='9.25' id='Line-2-Copy' transform='translate(9.500000, 9.250000) scale(-1, 1) rotate(45.000000) translate(-9.500000, -9.250000) '%3E%3C/line%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      width: 21px;
      height: 21px;
      display: block;
      background-size: cover;
    }
    .inner-swiper{
      //@include wrapper-padding();
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: $global-width;
      margin: 0 auto;
      .inner-inner{
        position: relative;
        max-height: 65%;
        max-width: 66%;
        margin: 0 auto;
        @include breakpoint(large){
        }
        .swiper-button-next{
      right: 39px!important;
          background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='50px' height='30px' viewBox='0 0 50 30' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup 2%3C/title%3E%3Cg id='1.0-Vloeren-en-wandtegels' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Group-2' transform='translate(1.519531, 0.445312)' stroke='%23FFFFFF' stroke-width='2'%3E%3Crect id='Rectangle' transform='translate(33.104980, 14.500000) scale(-1, 1) rotate(180.000000) translate(-33.104980, -14.500000) ' x='19.6049805' y='1' width='27' height='27'%3E%3C/rect%3E%3Cpolyline id='Stroke-1' transform='translate(31.604980, 14.500000) scale(-1, 1) rotate(180.000000) translate(-31.604980, -14.500000) ' points='27.6049805 7 35.6049805 14.5 27.6049805 22'%3E%3C/polyline%3E%3Cline x1='0' y1='14.5' x2='35.1049805' y2='14.5' id='Line' stroke-linecap='square'%3E%3C/line%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
          @include breakpoint(xlarge){
            right: 240px!important;
          }
        }
        .swiper-button-prev{
          left: 39px!important;
          background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='49px' height='29px' viewBox='0 0 49 29' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup 2%3C/title%3E%3Cg id='1.0-Vloeren-en-wandtegels' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Group-2' stroke='%23FFFFFF' stroke-width='2'%3E%3Crect id='Rectangle' transform='translate(14.500000, 14.500000) scale(-1, 1) translate(-14.500000, -14.500000) ' x='1' y='1' width='27' height='27'%3E%3C/rect%3E%3Cpolyline id='Stroke-1' transform='translate(15.000000, 14.500000) scale(-1, 1) translate(-15.000000, -14.500000) ' points='11 7 19 14.5 11 22'%3E%3C/polyline%3E%3Cline x1='12.5' y1='14.5' x2='47.6049805' y2='14.5' id='Line' stroke-linecap='square'%3E%3C/line%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
          @include breakpoint(xlarge){
            left: 240px!important;
          }
        }
        .field-item{
          display: flex;
          flex-direction: row;
          justify-content: center;
        }
      }
    }
  }

}


.field-name-field-paragraphs{
  > .field-items{
    > .field-item:last-of-type{
      .paragraph--type--call-to-action{
        margin-bottom: 0px!important;
      }
    }
  }
}
