figure.slides-wrapper {
  max-width: $global-width;
  margin: 0 auto;
  @include breakpoint(mediumplus) {
    position: relative;
    margin-bottom: 180px;
  }
  img{
    min-height: 275px;
    object-fit: cover;
  }
  figcaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 24px;
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 20px;
    background-color: white;
    z-index: 1;
    position: relative;
    margin-top: -135px;
    max-width: 260px;
    @include breakpoint(mediumplus) {
      margin: 0;
      @include grid-column-offset(1 of 12);
      position: absolute;
      bottom: -180px; left: 0;
      max-width: 500px;
      padding-left: 54px;
      padding-right: 54px;
      padding-top: 70px;
      padding-bottom: 35px;

    }

    .body {
      .field-item {
        p {
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  position: relative;
  div.scroll-line{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: center;
    position: absolute;
    z-index: 1;
    right: 50px;
    bottom: -44px;
    @include breakpoint(mediumplus){
      right: 100px;
      bottom: -102px;
    }
    .upper{
      width: 1px;
      height: 92px;
      background-color: white;
    }
    .lower{
      width: 1px;
      height: 102px;
      background-color: $primary-color;
    }
  }
}

.swiper-pagination {
  position: static;
  padding: 15px 0;
  @include breakpoint(medium) {
    padding: 30px 0;
  }

  &.swiper-pagination-bullets {

    .swiper-pagination-bullet {
      width: 13px; height: 13px;
      background-color: $dark-gray;
      border: 2px solid $dark-gray;
      opacity: 1;
      margin: auto 4px;
      &.swiper-pagination-bullet-active {
        border-color: $medium-gray;
        background-color: transparent;
      }
    }
  }
}


